.middle{
  width: 28vw;
  height: 48vh;
  border: 0.5vh ;
  border-radius: 1vh;
  margin-top: 25vh;
  margin-left: 75vh;
  border: 1vh;
  padding: 1vh 1vh;
  box-shadow: 0px 0px 0.3vh #888888;
 text-align: center;
 color: #a3b5c1;
}


.buttons{
    margin-top: 0.3vh;
    margin-bottom: 1vh;
  }

  .Log-in{
    width: 26.5vw;
    height: 7vh;
    margin-top: -10vh;
    margin-right: 5vh;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #1877f2;
    color: white;
    margin: 1.3vh 1vh;
    border: none;
    cursor: pointer;
    border-radius: 1vh;
    font-size: 3.5vh;
  }

  .LOG{
    width: 26.5vw;
    height: 7vh;
    padding: 1vh 1vh;
    margin: 1.3vh 0vh;
    display: inline-block;
    border: 0.1vh solid #bbafaf;
    box-sizing: border-box;
    color: #a3b5c1;
    font-size: 2.5vh;
    text-align: left;
    background: white;
    border-radius: 0.5vh;
  }

  .Password{
    width: 26.5vw;
    height: 7vh;
    padding: 2vh 2vh;
    margin: 1.3vh 0;
    display: inline-block;
    border: 0.1vh solid #bbafaf;
    box-sizing: border-box;
    color: #a3b5c1;
    font-size: 2.5vh;
    text-align: left;
    background: white;
    border-radius: 0.5vh;
  }

  .footer{
    font-size: 2.5vh;
    color: #448ba7;
    }

    .create{
      width: 15vw;
      height: 7vh;
      margin-right: 5vh;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      background-color:#42b72a;
      color: white;
      margin: 2vh 0;
      border: none;
      cursor: pointer;
      border-radius: 1vh;
      font-size: 2.6vh;
      font-weight: bold;
      
    }
.facebook{
  font-size: 8vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#1877f2 ;
  font-style: normal;
  font-weight: bolder;
  position: absolute;
  margin-top: -60vh;
  margin-left: 20vh;
}

.last{
  font-size: 4vh;
  font-family:  Arial, Helvetica, sans-serif;
  margin-top: -40vh;
  margin-left: 20vh;
}

.below{
  margin-top: 7vh;
  margin-left: 71vh;
}